.App {
  text-align: center;
  background-color: #F3F3F3;
  border:1px solid black;
  display: flex;
  height: 99.9%;
  border-bottom: none;
}



.Sidebar{
 width:15%;
 border: 5px black;
 border: 1px solid black;
 border-top: none;
 border-bottom: none;
 background-color: #D7D7D7;
 display: flex;
 flex-direction: column;
 max-height: 100%;
}

.Sidebar h1{
  text-align: left;
  margin-left: 5px;
}

button{
  height:40px;
  width:230px;
  background-color:#2AC0C4;
  border:1px solid gray;
  margin-top: 20px;
  align-self: center;
  cursor: pointer;
  color:white;
  font-size: 15px;
}
.Result{
  height:100px;
  background:black;
  color:White;
  font-size:50px;
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  border: 5px solid black;
}

.Notes{
  margin: 30px;
  width: 80%;
  overflow: hidden

}
.Notes h2{
  text-align: left;
}
.Notes .NC{
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

}

form{
  display:flex;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
}
input{
  width:30%;
  height:30px;
  border:1px solid #D7D7D7;
  border-radius: 5px;
}
textarea{
  margin-top: 20px;
  width: 90%;
  border:1px solid #D7D7D7;
  border-radius: 5px;
  height:500px;
}
form button{
align-self: flex-start;

}
.Card{
  height: 250px;
  border: 2px solid #D7D7D7;
  width: 400px;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}
.Card .InnerCard{
 margin-left: 10px;
 margin-right: 10px;
}

.Card h3{
  text-align: left;
  border-bottom: 2px solid #D7D7D7;
}
.Card p{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Options{
  display: flex;
  justify-content: flex-end;

}

.Options a{

  color: black;
  margin-top:10px;
  margin-right: 10px;
}

.Notes p{
  text-align: left  ;
}
.temp{
  margin:0;
  width: 90%;
}
